name: Playwright Test
on:
    workflow_dispatch:
    push:
      branches: [main]
    pull_request:
      branches: [main]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write
    pull-requests: write # for leaving a comment on PR

env:
  NODEJS_VERSION: 22.14.0

jobs:
  set_job_params:
    name: Set Job Params
    runs-on: ubuntu-latest
    outputs:
      pw-version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
    
      - name: Setup NodeJS SDK ${{ env.NODEJS_VERSION }}
        uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: task1/package-lock.json
          node-version: ${{ env.NODEJS_VERSION }}

      # used to create/delete branch target
      - name: Set Branch Name Environment Variable
        run: |
          # Short name for current branch. For PRs, use target branch (base ref)
          BRANCH=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV
          
      - name: Install Dependencies
        run: npm install --prefer-offline
        working-directory: task1

      - name: Get Playwright Package Version
        id: get-version
        run: |
          VERSION=$(node -e "console.log(require('./task1/node_modules/playwright/package.json').version)")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  playwright_test:
    name: Playwright Test
    needs: set_job_params
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2]
        shardTotal: [2]
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v${{ needs.set_job_params.outputs.pw-version }}-jammy
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install
        working-directory: task1

      - name: Run Tests
        run: npm run test:ci -- --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }}
        working-directory: task1
        env:
          HOME: /root # required for playwright to run in container

      - name: Upload blob report to GitHub Actions Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: all-blob-reports-${{ matrix.shardIndex }}
          path: task1/blob-report/
          retention-days: 10
        
      # uploading to have a backup of the test-results in case reporting fails
      - name: Upload test-results to GitHub Actions Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.shardIndex }}
          path: task1/test-results/
          retention-days: 10
          if-no-files-found: warn
          
  reporting:
    if: ${{ always() }}
    needs: playwright_test
    name: Reporting
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup NodeJS SDK ${{ env.NODEJS_VERSION }}
      uses: actions/setup-node@v4
      with:
        cache: npm
        cache-dependency-path: task1/package-lock.json
        node-version: ${{ env.NODEJS_VERSION }}
    
    - name: Install node packages
      run: npm install
      working-directory: task1
    
    - name: Download blob reports from GitHub Actions Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: all-blob-reports-*
        merge-multiple: true
        path: all-blob-reports
      
    - name: Merge into HTML Report
      run: npx playwright merge-reports --reporter html ./all-blob-reports
      working-directory: task1 
        
    - name: Setup Pages
      uses: actions/configure-pages@v5

    - name: Upload HTML report for Pages
      uses: actions/upload-pages-artifact@v3
      with:
        name: github-pages
        path: task1/playwright-report
        retention-days: 14

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4